@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    *:focus {
        outline: none;
    }
    .bg-purple-white {
        background: linear-gradient(to right, #592d8c 0%, #592d8c 75%, #f5f4fc 33%, #f5f4fc 100%);
    }
    .toast-purple-bar {
        background: #592d8c !important;
    }
}

:root {
    --toastify-icon-color-info: #592d8c !important;
    --toastify-icon-color-success: #592d8c !important;
    --toastify-icon-color-warning: #592d8c !important;
    --toastify-icon-color-error: #592d8c !important;
}